:root {
  --primary: #2F3640;
  --secondary: #1abc9c;
  --gray: #808080;
}

:root {
  --primary: #2F3640;
  --secondary: #1abc9c;
  --gray: #808080;
}

header {
  display: flex;
  align-items: center;
}

header {
  background: var(--gray);
  height: 80px;
  justify-content: space-between;
  padding: 0.5rem calc((100vm - 1200px) /2);
  z-index: 10;
  position: relative;
}
header .logo {
  cursor: pointer;
  font-size: 2rem;
  margin-left: 24px;
  display: flex;
  text-decoration: none;
}
header .bars {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  header .bars {
    color: #222121;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}

html body {
  box-sizing: border-box;
  padding: 0;
<<<<<<< HEAD
  margin: 0;
  font-family: "Roboto", sans-serif;
=======
  margin: 0 auto;
>>>>>>> 3f265ab37a06fbf4ac233c4ca1da145e3e3791fe
}

html {
  scroll-behavior: smooth;
}

<<<<<<< HEAD
#section-one {
  background-color: var();
  width: 100%;
  height: 450px;
  display: flex;
}
#section-one #img {
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 10px 10px 10px 10px;
=======
header {
  background-color: var(--primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header img {
  padding: 1%;
  max-width: 3%;
  min-width: 3%;
}

#section-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-one img {
  padding: 1em;
  margin: 1.5em;
  max-width: 25%;
  min-width: 25%;
  border-radius: 2em;
}

#section-one #s1-bloc-p {
  background-color: #bdc3c7;
  padding: 1em;
  margin: 2.5em;
  border-radius: 15px 15px 15px 15px;
>>>>>>> 3f265ab37a06fbf4ac233c4ca1da145e3e3791fe
}
#section-one #s1-title {
  text-align: center;
  margin: 1em;
}

#section-one #s1-p {
  margin: 2.5em;
}
#section-two {
  background-color: var(--secondary);
<<<<<<< HEAD
  padding: 30px;
=======
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
>>>>>>> 3f265ab37a06fbf4ac233c4ca1da145e3e3791fe
  display: flex;
}
#section-two #s2-bloc-1 {
  background-color: #bdc3c7;
  margin: 1em;
  border-radius: 15px 15px 15px 15px;
}
#section-two #s2-bloc-1 #s2-title {
  text-align: center;
  margin: 1em;
}
#section-two #s2-bloc-1 #s2-p1 {
  margin: 2.5em;
}
#section-two #s2-bloc-2 {
  background-color: #bdc3c7;
  margin: 1em;
  border-radius: 15px 15px 15px 15px;
}
#section-two #s2-bloc-2 #s2-title {
  text-align: center;
  margin: 1em;
}
#section-two #s2-bloc-2 #s2-p2 {
  margin: 2.5em;
}

#section-three {
  background-color: #e67e22;
<<<<<<< HEAD
  width: 100%;
  height: 450px;
=======
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
>>>>>>> 3f265ab37a06fbf4ac233c4ca1da145e3e3791fe
  display: flex;
}
#section-three #s3-bloc-1 {
  background-color: #bdc3c7;
  padding: 1em;
  border-radius: 20px 20px 20px 20px;
}
<<<<<<< HEAD
=======

#section-three #s3-bloc-1 #s3-title {
  text-align: center;
  margin: 1em;
}

#section-three #s3-bloc-1 #s3-p1 {
  margin: 2.5em;
}

>>>>>>> 3f265ab37a06fbf4ac233c4ca1da145e3e3791fe
#section-three #s3-bloc-2 {
  background-color: #bdc3c7;
  padding: 1em;
  border-radius: 20px 20px 20px 20px;
}
<<<<<<< HEAD
=======

#section-three #s3-bloc-2 #s3-title {
  text-align: center;
  margin: 1em;
}

#section-three #s3-bloc-2 #s3-p2 {
  margin: 2.5em;
}

>>>>>>> 3f265ab37a06fbf4ac233c4ca1da145e3e3791fe
#section-three #s3-bloc-3 {
  background-color: #bdc3c7;
  padding: 1em;
  border-radius: 20px 20px 20px 20px;
}
<<<<<<< HEAD
=======

#section-three #s3-bloc-3 #s3-title {
  text-align: center;
  margin: 1em;
}

#section-three #s3-bloc-3 #s3-p3 {
  margin: 2.5em;
}

>>>>>>> 3f265ab37a06fbf4ac233c4ca1da145e3e3791fe
footer {
  background-color: var(--primary);
  display: flex;
<<<<<<< HEAD
}/*# sourceMappingURL=styles.css.map */
=======
}

@media screen and (max-width: 960px) {
  #section-one {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  #section-one img {
    text-align: center;
  }
  #section-two {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  #section-three {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
}
/*# sourceMappingURL=styles.css.map */
>>>>>>> 3f265ab37a06fbf4ac233c4ca1da145e3e3791fe
