@charset "UTF-8";
:root {
  --primary: hsla(215, 15%, 22%, 1);
  --secondary: hsla(179, 100%, 20%, 0.9);
  --gray: hsla(0, 0%, 77%, 1);
}

html body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif !important;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  background-color: var(--primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header img {
  padding: 1%;
  max-width: 3%;
  min-width: 3%;
}

#section-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-one img {
  padding: 1em;
  margin: 1.5em;
  max-width: 25%;
  min-width: 25%;
  border-radius: 2em;
}

#section-one #s1-bloc-p {
  background-color: var(--gray);
  padding: 1em;
  margin: 2.5em;
  border-radius: 15px 15px 15px 15px;
}

#section-one #s1-bloc-p #s1-title {
  text-align: center;
  margin: 1em;
}

#section-one #s1-bloc-p #s1-p {
  margin: 2.5em;
}

#section-two {
  background-color: var(--secondary);
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-two #s2-bloc-1 {
  background-color: var(--gray);
  margin: 1em;
  border-radius: 15px 15px 15px 15px;
}

#section-two #s2-bloc-1 #s2-title {
  text-align: center;
  margin: 1em;
}

#section-two #s2-bloc-1 #s2-p1 {
  margin: 2.5em;
}

#section-two #s2-bloc-2 {
  background-color: var(--gray);
  margin: 1em;
  border-radius: 15px 15px 15px 15px;
}

#section-two #s2-bloc-2 #s2-title {
  text-align: center;
  margin: 1em;
}

#section-two #s2-bloc-2 #s2-p2 {
  margin: 2.5em;
}

#section-three {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-three #s3-bloc-1 {
  background-color: var(--gray);
  padding: 1em;
  border-radius: 20px 20px 20px 20px;
}

#section-three #s3-bloc-1 #s3-title {
  text-align: center;
  margin: 1em;
}

#section-three #s3-bloc-1 #s3-p1 {
  margin: 2.5em;
}

#section-three #s3-bloc-2 {
  background-color: var(--gray);
  padding: 1em;
  border-radius: 20px 20px 20px 20px;
}

#section-three #s3-bloc-2 #s3-title {
  text-align: center;
  margin: 1em;
}

#section-three #s3-bloc-2 #s3-p2 {
  margin: 2.5em;
}

#section-three #s3-bloc-3 {
  background-color: var(--gray);
  padding: 1em;
  border-radius: 20px 20px 20px 20px;
}

#section-three #s3-bloc-3 #s3-title {
  text-align: center;
  margin: 1em;
}

#section-three #s3-bloc-3 #s3-p3 {
  margin: 2.5em;
}

footer {
  background-color: var(--primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* max-width, si l'écran est inférieur ou égal alors {...} */
@media all and (max-width: 960px) {
  #section-one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section-one #s1-bloc-p {
    padding: 0;
    margin: 1em;
  }
  #section-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section-three {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */