// -- ===== VARIABLE COLORS ===== -- //

:root {
    --primary: #2F3640;
    --secondary: #1abc9c;
}

html body {
    padding: 0;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: var(--primary);
    display: flex;

    img {
        padding: 1%;
        max-width: 5%;
        min-width: 5%;
    }

    #button-bloc {
        flex-direction: flex-end;
    }

    #home {}

    #gallery {}

    #about {}

    #contact {}
}

#section-one {
    width: 100%;
    display: flex;

    img {
        padding: 20 auto;
        margin: 20px auto;
        max-width: 30%;
        min-width: 30%;
        height: 70%;
        border-radius: 10%;
    }

    #s1-bloc-p {}

    #s1-title {}

    #s1-p {}
}

#section-two {
    background-color: var(--secondary);
    padding: 30px;
    display: flex;

    #s2-bloc-1 {
        background-color: #bdc3c7;
        padding: 5px;
        margin-right: 70px;
        width: 350px;
        height: 250px;
        border-radius: 20px 20px 20px 20px;

        #s2-title {
            text-align: center;
            margin-top: 35px;
        }

        #s2-p1 {
            margin-top: 30px;
            margin-left: 50px;
            margin-right: 30px;
        }
    }

    #s2-bloc-2 {
        background-color: #bdc3c7;
        padding: 5px;
        margin-left: 70px;
        width: 350px;
        height: 250px;
        border-radius: 20px 20px 20px 20px;

        #s2-title {
            text-align: center;
            margin-top: 35px;
        }

        #s2-p2 {
            margin-top: 30px;
            margin-left: 50px;
            margin-right: 30px;

        }
    }
}

#section-three {
    background-color: #e67e22;
    padding: 5%;
    display: flex;

    #s3-bloc-1 {
        background-color: #bdc3c7;
        padding: 5px;
        margin-right: 70px;
        border-radius: 20px 20px 20px 20px;

        #img {}

        #s3-title {}

        #s3-p1 {}
    }

    #s3-bloc-2 {
        background-color: #bdc3c7;
        padding: 5px;
        margin-right: 70px;
        border-radius: 20px 20px 20px 20px;

        #img {}

        #s3-title {}

        #s3-p2 {}
    }

    #s3-bloc-3 {
        background-color: #bdc3c7;
        padding: 5px;
        margin-right: 70px;
        border-radius: 20px 20px 20px 20px;

        #img {}

        #s3-title {}

        #s3-p3 {}
    }
}

footer {
    background-color: var(--primary);
    display: flex;

    #img {}

    #copyright {}

    #info {
        #name {}

        #phone {}

        #e-mail {}
    }
}

// <--===== Tablette =====-->
@media screen and (max-width: 960px) {
    #section-one {
        flex-flow: wrap;
    }
    #section-two {
        flex-flow: wrap;
        #s3-bloc-1 {
            background-color: #bdc3c7;
            padding: 5px;
            margin-right: 70px;
            border-radius: 20px 20px 20px 20px;
    
            #img {}
    
            #s3-title {}
    
            #s3-p1 {}
        }
    
        #s3-bloc-2 {
            background-color: #bdc3c7;
            padding: 5px;
            margin-right: 70px;
            border-radius: 20px 20px 20px 20px;
    
        }
    
        #s3-bloc-3 {
            background-color: #bdc3c7;
            padding: 5px;
            margin-right: 70px;
            border-radius: 20px 20px 20px 20px;
    
            
        }
    }
    }
    #section-three {
        flex-flow: wrap;
        
    }
}

// <--===== Mobile =====-->
@media screen and (max-width: 375px) {}