// -- ===== VARIABLE COLORS ===== -- //

:root {
    --primary: #2F3640;
    --secondary: #1abc9c;
}

html body {
    // font-size: 16px;
    margin: 0 auto;
    padding: 0;
    font-family: Helvetica, sans-serif !important;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: var(--primary);
    display: flex;

    img {
        padding: 1%;
        max-width: 3%;
        min-width: 3%;
    }

    #button-bloc {}

    #home {}

    #gallery {}

    #about {}

    #contact {}
}

#section-one {
    display: flex;

    img {
        padding: 1em;
        margin: 1.5em;
        max-width: 25%;
        min-width: 25%;
        border-radius: 2em;
    }

    #s1-bloc-p {
        background-color: #bdc3c7;
        padding: 1em;
        margin: 2.5em;
        border-radius: 15px 15px 15px 15px;

        #s1-title {
            display: block;
            text-align: center;
            margin: 1em;
        }

        #s1-p {
            margin: 2.5em;
        }
    }
}

#section-two {
    background-color: var(--secondary);
    padding: 3%;
    display: flex;

    #s2-bloc-1 {
        background-color: #bdc3c7;
        margin: 1em;
        border-radius: 15px 15px 15px 15px;

        #s2-title {
            text-align: center;
            margin: 1em;
        }

        #s2-p1 {
            margin: 2.5em;
        }
    }

    #s2-bloc-2 {
        background-color: #bdc3c7;
        margin: 1em;
        border-radius: 15px 15px 15px 15px;

        #s2-title {
            text-align: center;
            margin: 1em;
        }

        #s2-p2 {
            margin: 2.5em;
        }
    }
}

#section-three {
    background-color: #e67e22;
    padding: 5%;
    display: flex;


    #s3-bloc-1 {
        background-color: #bdc3c7;
        padding: 1em;
        border-radius: 20px 20px 20px 20px;

        #img {}

        #s3-title {
            text-align: center;
            margin: 1em;
        }

        #s3-p1 {
            margin: 2.5em;
        }
    }

    #s3-bloc-2 {
        background-color: #bdc3c7;
        padding: 1em;
        border-radius: 20px 20px 20px 20px;

        #img {}

        #s3-title {
            text-align: center;
            margin: 1em;
        }

        #s3-p2 {
            margin: 2.5em;
        }
    }

    #s3-bloc-3 {
        background-color: #bdc3c7;
        padding: 1em;
        border-radius: 20px 20px 20px 20px;

        #img {}

        #s3-title {
            text-align: center;
            margin: 1em;
        }

        #s3-p3 {
            margin: 2.5em;
            ;
        }
    }
}

footer {
    background-color: var(--primary);
    display: flex;

    #img {}

    #copyright {}

    #info {
        #name {}

        #phone {}

        #e-mail {}
    }
}

// <--===== Tablette =====-->

/* max-width, si l'écran est inférieur ou égal alors {...} */
@media screen and (max-width: 960px) {
    #section-one {
        flex-direction: column;

        img {}

        #s1-bloc-p {
            padding: 0;
            margin: 1em;

            #s1-title {}

            #s1-p {}
        }
    }

    #section-two {
        flex-direction: column;

        #s2-bloc-1 {}

        #s2-bloc-2 {}
    }

    #section-three {
        flex-direction: column;

        #s3-bloc-1 {}

        #s3-bloc-2 {}

        #s3-bloc-3 {}
    }

    footer {
        flex-direction: column;
    }

}

// <--===== Mobile =====-->
// @media screen and (max-width: 375px) {}