@charset "UTF-8";
:root {
  --primary: #2F3640;
  --secondary: #1abc9c;
  --gray: #808080;
}

html body {
  margin: 0 auto;
  padding: 0;
  font-family: Helvetica, sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 45px;
}
header img {
  padding: 1%;
  max-width: 3%;
  min-width: 3%;
}
#section-one {
  display: flex;
}
#section-one img {
  padding: 1em;
  margin: 1.5em;
  max-width: 25%;
  min-width: 25%;
  border-radius: 2em;
}
#section-one #s1-bloc-p {
  background-color: #bdc3c7;
  padding: 1em;
  margin: 2.5em;
  border-radius: 15px 15px 15px 15px;
}
#section-one #s1-bloc-p #s1-title {
  text-align: center;
  margin: 1em;
}
#section-one #s1-bloc-p #s1-p {
  margin: 2.5em;
}

#section-two {
  background-color: var(--secondary);
  padding: 3%;
  display: flex;
}
#section-two #s2-bloc-1 {
  background-color: #bdc3c7;
  margin: 1em;
  border-radius: 15px 15px 15px 15px;
}
#section-two #s2-bloc-1 #s2-title {
  text-align: center;
  margin: 1em;
}
#section-two #s2-bloc-1 #s2-p1 {
  margin: 2.5em;
}
#section-two #s2-bloc-2 {
  background-color: #bdc3c7;
  margin: 1em;
  border-radius: 15px 15px 15px 15px;
}
#section-two #s2-bloc-2 #s2-title {
  text-align: center;
  margin: 1em;
}
#section-two #s2-bloc-2 #s2-p2 {
  margin: 2.5em;
}

#section-three {
  background-color: #e67e22;
  padding: 5%;
  display: flex;
}
#section-three #s3-bloc-1 {
  background-color: #bdc3c7;
  padding: 1em;
  border-radius: 20px 20px 20px 20px;
}
#section-three #s3-bloc-1 #s3-title {
  text-align: center;
  margin: 1em;
}
#section-three #s3-bloc-1 #s3-p1 {
  margin: 2.5em;
}
#section-three #s3-bloc-2 {
  background-color: #bdc3c7;
  padding: 1em;
  border-radius: 20px 20px 20px 20px;
}
#section-three #s3-bloc-2 #s3-title {
  text-align: center;
  margin: 1em;
}
#section-three #s3-bloc-2 #s3-p2 {
  margin: 2.5em;
}
#section-three #s3-bloc-3 {
  background-color: #bdc3c7;
  padding: 1em;
  border-radius: 20px 20px 20px 20px;
}
#section-three #s3-bloc-3 #s3-title {
  text-align: center;
  margin: 1em;
}
#section-three #s3-bloc-3 #s3-p3 {
  margin: 2.5em;
}

footer {
  background-color: var(--primary);
  display: flex;
}
/* max-width, si l'écran est inférieur ou égal alors {...} */
@media screen and (max-width: 960px) {
  #section-one {
    flex-direction: column;
  }
  #section-one #s1-bloc-p {
    padding: 0;
    margin: 1em;
  }
  #section-two {
    flex-direction: column;
  }
  #section-three {
    flex-direction: column;
  }
}
#section_footer {
  justify-content: space-around;
  bottom: 0px;
  height: 240px;
  background-color: var(--primary);
  color: white;
  width: 100vw;
}

.InnerSection {
  float: left;
  margin: 0 28px;
  width: 20%;
}

.InnerHeading {
  font-weight: 500;
  color: gray;
}

ol {
  list-style: none;
}

li {
  margin: 10px 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: blue;
}

.SocialIcon {
  height: 28px;
  border-radius: 7px;
}

#IconList {
  display: flex;
}

#IconList li {
  margin: 0 10px;
}/*# sourceMappingURL=styles.css.map */